.toDoList {
    display: flex;
    flex-direction: column;
    background-color: #faf900;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    transition: .5s linear;
    box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, .5);
}

.completedToDoList {
    background-color: rgba(173, 255, 47, .9);
    backdrop-filter: blur(10px);
}

.completedToDoListName {
    color: #f00;
    text-decoration: line-through;
}

.pinnedToDoList {
    background-color: #ffce72;
}

.listTitle {
    word-wrap: anywhere;
}

.listTitle:hover {
    cursor: pointer;
}

.listId {
    font-family: Consolas, monospace;
    font-size: .6rem;
    opacity: .8;
}

.tasks {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.tasks button:hover, .tasks input[type=checkbox]:hover {
    cursor: pointer;
}

.selected {
    transform: scale(1.01);
    box-shadow: -10px 10px 10px 1px rgba(0, 0, 0, .7);
    background-color: aliceblue;
}

.control {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.editable {
    max-width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    overflow: hidden;
    resize: none;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5) inset;
}

.spinAnimation {
    animation: spin .5s ease-in-out;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}