.toDoList {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    transition: .5s linear;
}

.completedToDoList {
    background-color: greenyellow;
    opacity: .9;
}

.completedToDoListName {
    color: #f00;
    text-decoration: line-through;
}

.pinnedToDoList {
    background-color: #ffce72;
}

.listTitle:hover {
    cursor: pointer;
}

.listId {
    font-family: Consolas, monospace;
    font-size: .6rem;
    opacity: .8;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px 0;
}

.tasks button:hover, .tasks input[type=checkbox]:hover {
    cursor: pointer;
}

.selected {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .7);
    background-color: lightgray;
}

.control {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}