.counter {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, .5) inset;
}

.counter, .top, .bottom {
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 600px;
    background-color: #252525;
    color: #fff;
}

.counter button, .bottom button {
    cursor: pointer;
}

.counter h3, .top h3 {
    font-family: Consolas, monospace;
    font-size: 1.5rem;
}

.control {
    display: flex;
    gap: 20px;
}

.control button {
    font-size: 3rem;
}

.count {
    font-size: 3rem;
    color: #f00;
    font-family: Consolas, monospace;
}

.counter button, .bottom button {
    color: #fff;
    font-family: Consolas, monospace;
}

.spinAnimation {
    animation: spin .5s ease-in-out;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50% 50% 0 0;
    box-shadow: 10px 0 5px -5px rgba(255, 255, 255, .5) inset,
    -10px 0 5px -5px rgba(255, 255, 255, .5) inset,
    0 10px 5px -5px rgba(255, 255, 255, .5) inset;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 50% 50%;
    box-shadow: 10px 0 5px -5px rgba(255, 255, 255, .5) inset,
    -10px 0 5px -5px rgba(255, 255, 255, .5) inset,
    0 -10px 5px -5px rgba(255, 255, 255, .5) inset;
}