.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, .8);
    padding: 40px;
    border-radius: 40px;
    color: #fff;
}

.section h3 {
    font-size: 3rem;
}

.section a {
    color: deepskyblue;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px solid deepskyblue;
    transition: .5s linear;
    display: inline-block;
}

.section a:hover {
    color: aqua;
    border-bottom-color: aqua;
    transform: scale(1.01);
}