.onboarding {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: bottom center / cover url("../../assets/images/onboarding.gif") no-repeat rgba(0, 0, 0, .5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
}

.onboarding span {
    width: 70%;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.toDoLists {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
}

.controlPanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .2);
    width: 30%;
    padding: 140px 40px 40px;
    gap: 20px;
    backdrop-filter: blur(10px);
    color: #fff;
    overflow-y: scroll;
}

.appTitle {
    word-wrap: anywhere;
}

.appTitle:hover {
    cursor: help;
}

.submenu {
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    border-radius: 20px;
}

.submenu li {
    list-style-position: inside;
    list-style-type: decimal;
}

.submenu td, .submenu li {
    padding: 5px;
}

aside h1 {
    font-size: 4rem;
    color: transparent;
    background-image: linear-gradient(125deg, #f00, #ff0, #0f0);
    background-clip: text;
    animation: hue 5s infinite linear;
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(-360deg);
    }
}